div(style="padding:5px; margin-top:15px; text-align:center; background-color:#f8f8f8")
	a(href="/", style="margin:5px") Home
	a(href="/contact", style="margin:5px") Contact
	a(href="/about", style="margin:5px") Abot US